@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('subset-Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('subset-Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('subset-Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('subset-Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}